<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{!< layouts/auth }}
        <br><br><br>
        {{#if error}}
            <h3 style="color:red;">{{error}}</h3>
        {{/if}}
        <h1>{{title}}</h1>
        {{#if success}}
            <h3 style="color:green;">{{success}}</h3>
        {{/if}}
        <h1>Go to the <a href="/login">Login Page</a></h1>
        <div id ="form">
            <form method="POST" action="/signup">
                email : <input type="email" name="email">
                UserName : <input type="text" name="username">
                Password : <input type="password" name="password"><br><br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>