<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body style="font-size: 20px;">
        <br><br><br>
        <h1>You successfully signed up.</h1>
        <h3>Click the login page to login.</h3>
        <a href="/login">Login Page</a>
    </body>
</html>