<!DOCTYPE html>
<html>
    <head>
        <title> AUTHENTICATION </title>
        <link rel="stylesheet" href="stylesheets/auth.css">
        <header>RECOMMENDO<br>Find Movies you love.</header>
    </head>
    <body>
        <div id="container"></div>
            <header>
            </header>
            <div id="content">
                {{{ body }}}
            </div>
    </body>
</html>