<!DOCTYPE html>
<html>
    <head>
        <title> AUTHENTICATION </title>
        <link rel="stylesheet" href="stylesheets/auth.css">
    </head>
    <body>
        <div id="container"></div>
            <header>
                <h1>LOGIN PAGE</h1>
            </header>
            <div id="content">
                {{{ body }}}
            </div>
    </body>
</html>