<!DOCTYPE html>
<htm>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{!< layouts/main }}
        <h1> NEW MOVIES THAT ARE NOT BASED ON YOUR PREFERENCES.</h1>
    </body>
</htm>