/* Main Stylesheet */


body {
    font-family: 'Arial', sans-serif;
    background-color: #e2e2e2; /* Softer background color */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #4a69bd; /* Modern blue */
    color: #fff;
    padding: 20px 0;
    border-bottom: 5px solid #3c6382; /* Darker blue border */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adding shadow */
    font-size: 30px; /* Larger font size */
}

a {
    color: #60a3bc;
    text-decoration: none;
}

a:hover {
    color: #3c6382;
    text-decoration: underline;
}

#form {
    background: white;
    padding: 20px;
    margin-top: 30px;
    display: inline-block;
    text-align: left;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Adding shadow */
    width: 300px; /* Fixed width */
}

#form form {
    margin: 0;
}

#form input[type=email], 
#form input[type=text], 
#form input[type=password] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
}

#form input[type=submit] {
    width: 100%;
    background-color: #78e08f; /* Light green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adding shadow */
}

#form input[type=submit]:hover {
    background-color: #38ada9; /* Darker green */
}

/* Responsive Design */
@media (max-width: 600px) {
    #form {
        width: auto; /* Adapt to smaller screens */
    }
}

