/* Main Stylesheet */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    font-family: Roboto, Lato, sans-serif;
    background-color: #ffffff; /* Light background color */
    color: #333;
    line-height: 1.8; /* Slightly increased line height for readability */
    margin: 0;
    padding: 0;
    font-size: 18px; /* Bigger base font size */
}

.profile-icon {
    /* Example styles for profile icon */
    font-size: 60px; /* Adjust icon size as needed */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the icon */
}

.header-content{
    background-color: #6b72ea;
    text-align: center;
    align-items: center;
}

header {
    /* Flexbox layout to align items and distribute space */
    /* display: flex; */
    justify-content: space-between; /* Aligns children with space between them */
    align-items: center; /* Vertically aligns children in the middle */
    padding: 10px 20px; /* Add padding inside the header */
}

header h1 {
    margin: 0;
    font-size: 2.5em; /* Larger font size for the main title */
}

header h3 {
    margin: 0;
    font-weight: 300;
    font-size: 1.3em; /* Slightly larger font size for subtitle */
}

.nav ul {
    list-style: none;
    background: #6b72ea; /* A complementary darker purple */
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px 25px; /* Increased padding for larger clickable area */
    display: inline-block;
    font-size: 1.1em; /* Slightly larger font for navigation links */
}

.nav ul li a:hover {
    background-color: #983D97; /* A lighter purple for hover effect */
}

#content {
    padding: 30px; /* Increased padding for more space */
    background: #c5c0c0; /* Very light gray for content background */
}

/* Responsive Design */
@media (max-width: 600px) {
    .nav ul li {
        display: block;
        text-align: left;
    }
}

/* If you want to add responsiveness for smaller screens */
@media (max-width: 768px) {
    .searchForm form {
        flex-direction: column;
    }

    .searchForm input[type="text"] {
        margin-bottom: 5px;
        border-radius: 4px;
    }

    .searchForm input[type="submit"] {
        border-radius: 4px;
    }
}

.noresult {
    color : red;
    font-size: 40px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Roboto, Lato, sans-serif;
}
.container {
    display: flex;;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: center; /* Horizontally centers the child elements */
    align-items: flex-start; /* Aligns items to the top of the container */
    min-height: 100vh; /* At least the height of the viewport */
    padding: 20px; /* Add padding for some space around the items */
}

.movie-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: calc(40% - 20px); /* Subtract the margin from the 50% width */
    margin: 30px; /* Keep the margin to ensure space between the cards */
    text-align: center;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 15px;
}

.movie-title {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.movie-genres, .movie-release-date, .movie-popularity {
    font-size: 0.9em;
    color: #777;
    margin: 5px 0;
}

.movie-description {
    font-size: 0.8em;
    color: #555;
    margin-top: 15px;
    line-height: 1.6;
}

.movie-id {
    display: none;
}